<h1>admin index</h1>
<!-- Admin goes to /admin/index
  to set his preferences

Admin::Preferences > index action
  show the current preferences
  has a form for admin to fillout to set new preferences
  submit the form

Admin::Preferences > update action
  updates the admin preferences


User goes to /songs/new
  if preferences.allow_create_song == true
    he can make a new song
  else
    redirects_to
  end -->
